@page "/Mihistoria"


<div class="p-3 mb-2 bg-secondary text-white">
    <h1>MI HISTORIA</h1>
    <p>Castrejón Evelyn.</p>
    <p>A continuación les escribiré información relevante de mi vida.</p>
</div>


<br />
<br />


<div class="container">
    <div class="row">


<div class="col-md-4">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://img.freepik.com/vector-gratis/ilustracion-edificio-escuela_138676-2399.jpg?w=2000" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Formación.</h5>
        <p class="card-text">Estudié kinder, primaria, secundaria, bachillerato y estoy cursando la licenciatura.</p>
        <a class="btn btn-primary">Conocer más.</a>
    </div>
</div>
</div>


<div class="col-md-4">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.hola.com/imagenes/estar-bien/20180524124555/leer-cambia-tu-cerebro/0-569-767/leercerebro-t.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Hobbies.</h5>
        <p class="card-text">Disfruto mucho leer.</p>
        <a class="btn btn-primary">Conocer más.</a>
    </div>
</div>
</div>


 <div class="col-md-4">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://definicion.de/wp-content/uploads/2009/03/ingenieria-de-software.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Mi carrera.</h5>
        <p class="card-text">Estoy cursando la carrera de Ingeniería en Software, actualmente estoy en 4to semestre.</p>
        <a class="btn btn-primary">Conocer más.</a>
    </div>
</div>
</div>


</div>
</div>

@code {
   
}
